datasets==3.5.0
evaluate==0.4.3
matplotlib==3.10.1
numpy==2.2.3
networkx==3.4.2
nltk==3.9.1
scikit-learn==1.6.1
scipy==1.15.2
spacy==3.8.4
torch==2.3.0
torchvision==0.18.0
transformers==4.50.2
torchtext==0.18.0
tqdm==4.67.1
sentencepiece==0.2.0
protobuf==6.30.2
bert-score==0.3.12
